.Form {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 1rem solid #0ff;

  h2 {
    // margin: 1rem;
  }

  .TextField {
    // font-size: 2rem;
  }

  Button {
    // margin: ;
  }

  .restore_btn {}
}
