.ToDoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
  border: 2px solid blue;
  border-radius: 6px;

  .ToDoItem-title {
    margin-left: 0.5rem;
  }
}
