@import "./styles/form.scss";
@import "./styles/todoItem.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #0ff;
}